body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav > ul {
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
}
.nav-title{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    margin-right: 1000px;

}
.banner-img{
    margin-left: 150px ;
}
.btn-first{
    text-align: center;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 15px;
    font-weight: 100;
    width: 230px;
    height: 5px;
    padding-bottom: 50px;
    border: 0;
    margin-right: 30px;
}
.btn-img{
    margin-left: 15px;
    padding-top: 5px;
}
.btn-img-second{
    margin-left: 20px ;
    padding-top: 10px ;
}

/* second header section */
.content{
   background-image: url(../images/Group\ 14.png);
   background-repeat: no-repeat;
   width: 950px;
   height: 700px;
   padding: 30px 0px 30px 30px;
} 

.header-title-first{
    text-transform: uppercase;
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-left: 120px;
    margin-top: 80px;
    width: auto;
    
}
.header-title{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 110px;
    padding: 0px 0px;
}
.new-list{
    list-style: none;
    margin-left: 80px;
    padding-bottom:0px;
    margin-bottom: 50px;
}
.btn-primary{
    border-radius: 48px;
    background: #FF42A5;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-left: 110px;
}
.btn-primary-second{
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-left: 20px;
}
.full-header{
    display: flex;
}

